{
  "presets": [
    ["@babel/preset-env", {
      "useBuiltIns": "entry",
      "corejs": 2,
      "targets": {
        "node": "6",
        "uglify": true
      }
    }]
  ],
  "plugins": [
    "@babel/plugin-transform-runtime"
  ]
}
