const path = require('path')
const config = require('./lib/config')

module.exports = {
  config: path.resolve('config.json'),
  'migrations-path': path.resolve('lib', 'migrations'),
  'models-path': path.resolve('lib', 'models'),
  url: process.env['CMD_DB_URL'] || config.dbURL
}
