{
    "test": {
        "db": {
            "dialect": "sqlite",
            "storage": ":memory:"
        }
    },
    "development": {
        "db": {
            "dialect": "sqlite",
            "storage": "./db.hackmd.sqlite"
        }
    },
    "production": {
        "domain": "datagov-hackmd.app.cloud.gov",
        "debug": "true",
        "dburl": "$DATABASE_URL",
        "github": {
            "clientID": "CHANGEME",
            "clientSecret": "CHANGEME"
        },
        "imageUploadType": "s3",
        "s3": { 
            "accessKeyId": "VCAP_S3_ACCESS_KEY_ID", 
            "secretAccessKey": "VCAP_S3_ACCESS_KEY", 
            "region": "VCAP_S3_REGION", 
            "bucket": "VCAP_S3_BUCKET_NAME" 
        }
    }
}