{
    "test": {
        "db": {
            "dialect": "sqlite",
            "storage": "./db.hackmd.sqlite"
        }
    },
    "development": {
        "domain": "localhost",
        "db": {
            "username": "",
            "password": "",
            "database": "hackmd",
            "host": "localhost",
            "port": "3306",
            "dialect": "mysql"
        }
    },
    "production": {
        "domain": "localhost",
        "db": {
            "username": "",
            "password": "",
            "database": "hackmd",
            "host": "localhost",
            "port": "5432",
            "dialect": "postgres"
        },
        "facebook": {
            "clientID": "change this",
            "clientSecret": "change this"
        },
        "twitter": {
            "consumerKey": "change this",
            "consumerSecret": "change this"
        },
        "github": {
            "clientID": "change this",
            "clientSecret": "change this"
        },
        "gitlab": {
            "baseURL": "change this",
            "clientID": "change this",
            "clientSecret": "change this"
        },
        "dropbox": {
            "clientID": "change this",
            "clientSecret": "change this"
        },
        "google": {
            "clientID": "change this",
            "clientSecret": "change this"
        },
        "imgur": {
            "clientID": "change this"
        }
    },
    "dumpToGit": {
        "targetDirectory": "./notes",
        "name": "Autocommitter",
        "email": "john@example.com"
    }
}
