{
    "test": {
        "db": {
            "dialect": "sqlite",
            "storage": "./db.hackmd.sqlite"
        }
    },
    "development": {
        "domain": "localhost",
        "db": {
            "username": "",
            "password": "",
            "database": "hackmd",
            "host": "localhost",
            "port": "3306",
            "dialect": "mysql"
        }
    },
    "production": {
        "domain": "localhost",
        "db": {
            "username": "",
            "password": "",
            "database": "hackmd",
            "host": "localhost",
            "port": "5432",
            "dialect": "postgres"
        },
        "facebook": {
            "clientID": "change this",
            "clientSecret": "change this"
        },
        "twitter": {
            "consumerKey": "change this",
            "consumerSecret": "change this"
        },
        "github": {
            "clientID": "change this",
            "clientSecret": "change this"
        },
        "gitlab": {
            "baseURL": "change this",
            "clientID": "change this",
            "clientSecret": "change this"
        },
        "dropbox": {
            "clientID": "change this",
            "clientSecret": "change this",
            "appKey": "change this"
        },
        "google": {
            "clientID": "change this",
            "clientSecret": "change this",
            "apiKey": "change this"
        },
        "ldap": {
            "url": "ldap://change_this",
            "bindDn": null,
            "bindCredentials": null,
            "tokenSecret": "change this",
            "searchBase": "change this",
            "searchFilter": "change this",
            "searchAttributes": "change this",
            "tlsOptions": {
                "changeme": "See https://nodejs.org/api/tls.html#tls_tls_connect_options_callback"
            }
        },
        "imgur": {
            "clientID": "change this"
        }
    }
}
