<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="mobile-web-app-capable" content="yes">
<meta name="description" content="Realtime collaborative markdown notes on all platforms.">
<meta name="author" content="jackycute">
<!-- Open Graph data -->
<meta property="og:title" content="HackMD - Collaborative notes">
<meta property="og:type" content="website">
<meta property="og:url" content="https://hackmd.herokuapp.com/">
<meta property="og:description" content="Realtime collaborative markdown notes on all platforms.">
<meta property="og:site_name" content="HackMD">
<meta property="fb:admins" content="1463801565">
<title>HackMD - Collaborative notes</title>
<link rel="icon" type="image/png" href="/favicon.png">
<link rel="apple-touch-icon" href="/apple-touch-icon.png">
<!--<link rel="stylesheet" href="/vendor/bootstrap-3.3.1/css/bootstrap.min.css">-->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/vendor/codemirror/lib/codemirror.css">
<link rel="stylesheet" href="/vendor/codemirror/addon/fold/foldgutter.css">
<link rel="stylesheet" href="/vendor/codemirror/theme/monokai.css">
<link rel="stylesheet" href="/css/github-extract.css">
<link rel="stylesheet" href="/css/gist.css">
<!--<link rel="stylesheet" href="/css/github-code-cdn.css">-->
<link rel="stylesheet" href="/vendor/highlight-js/github.min.css">
<link rel="stylesheet" href="/vendor/emojify/css/emojify.min.css" />
<link rel="stylesheet" href="/css/markdown.css">
<link rel="stylesheet" href="/css/index.css">
<link rel="stylesheet" href="/css/extra.css">
<link rel="stylesheet" href="/css/site.css">