<!-- refresh modal -->
<div class="modal fade" id="refreshModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">This page need refresh</h4>
            </div>
            <div class="modal-body">
                <div class="incompatible-version">
                    <h5>You have an incompatible client version.</h5>
                    <strong>Refresh to update.</strong>
                </div>
                <div class="new-version" style="display:none;">
                    <h5>New version available!</h5>
                    <a href="<%- url %>/s/release-notes" target="_blank">See releases notes here</a>
                    <br>
                    <strong>Refresh to enjoy new features.</strong>
                </div>
                <div class="user-state-changed" style="display:none;">
                    <h5>Your user state has changed.</h5>
                    <strong>Refresh to load new user state.</strong>
                </div>
            </div>
            <div class="modal-footer">
                <a class="btn btn-danger" href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=KDGS4PREHX6QQ&lc=US&item_name=HackMD&amount=5%2e00&currency_code=USD&bn=PP%2dDonationsBF%3abtn_donate_LG%2egif%3aNonHosted" target="_blank"><i class="fa fa-coffee"></i> Buy us coffee</a>
                <button type="button" class="btn btn-primary" id="refreshModalRefresh">Refresh</button>
            </div>
        </div>
    </div>
</div>