<!-- signin ldap modal -->
<div class="modal fade signin-ldap-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="mySmallModalLabel"><%= __('LDAP Sign in') %></h4>
            </div>
            <div class="modal-body" style="text-align: center;">
                <% if(ldap) { %>
                <form data-toggle="validator" role="form" class="form-horizontal" method="post" enctype="application/x-www-form-urlencoded">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <input type="username" class="form-control" name="username" placeholder="Username" required>
                            <span class="help-block control-label with-errors" style="display: inline;"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <input type="password" class="form-control" name="password" placeholder="Password" required>
                            <span class="help-block control-label with_errors" style="display: inline;"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-primary" formaction="<%- url %>/auth/ldap">Sign in</button>
                        </div>
                    </div>
                </form>
                <% } %>
            </div>
        </div>
    </div>
</div>
