/*
 * Globals
 */

/* Links */

a,
a:focus,
a:hover {
    color: #fff;
}
/* Custom default button */

.btn-default,
.btn-default:hover,
.btn-default:focus {
    color: #333;
    text-shadow: none;
    /* Prevent inheritence from `body` */
    background-color: #fff;
    border: 1px solid #fff;
}
/*
 * Base structure
 */

html,
body {
    height: 100%;
    background-color: #333;
}
body {
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0, 0, 0, .5);
}
/* Extra markup and styles for table-esque vertical and horizontal centering */

.site-wrapper {
    padding: 10px;
    display: table;
    width: 100%;
    height: 100%;
    /* For at least Firefox */
    min-height: 100%;
    -webkit-box-shadow: inset 0 0 100px rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 100px rgba(0, 0, 0, .5);
}
.site-wrapper-inner {
    display: table-cell;
    vertical-align: middle;
}
.cover-container {
    margin-right: auto;
    margin-left: auto;
}
/* Padding for spacing */

.inner {
    padding: 10px;
}
/*
 * Header
 */

.masthead-brand {
    margin-top: 10px;
    margin-bottom: 10px;
}
.masthead-nav > li {
    display: inline-block;
}
.masthead-nav > li + li {
    margin-left: 20px;
}
.masthead-nav > li > a {
    padding-right: 0;
    padding-left: 0;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    /* IE8 proofing */
    color: rgba(255, 255, 255, .75);
    border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
    background-color: transparent;
    border-bottom-color: #a9a9a9;
    border-bottom-color: rgba(255, 255, 255, .25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
    color: #fff;
    border-bottom-color: #fff;
}
@media (min-width: 768px) {
    .masthead-brand {
        float: left;
    }
    .masthead-nav {
        float: none;
    }
    .inner {
        padding: 30px;
    }
}
/*
 * Cover
 */

.cover {
    padding: 0 20px;
}
.cover .btn-lg {
    padding: 10px 20px;
    font-weight: bold;
}
/*
 * Footer
 */

.mastfoot {
    color: #999;
    /* IE8 proofing */
    color: rgba(255, 255, 255, .5);
}
/*
 * Affix and center
 */

@media (min-width: 768px) {
    /* Pull out the header and footer */
    .masthead {
        position: relative;
        top: 0;
    }
    .mastfoot {
        position: fixed;
        bottom: 0;
    }
    /* Start the vertical centering */
    .site-wrapper-inner {
        vertical-align: middle;
    }
    /* Handle the widths */
    .masthead,
    .mastfoot,
    .cover-container {
        width: 100%;
        /* Must be percentage or pixels for horizontal alignment */
    }
}
@media (min-width: 992px) {
    .masthead,
    .mastfoot,
    .cover-container {
        width: 700px;
    }
}
.section ul {
    list-style: none;
}
/* custom */

html,
body {
    overflow-x: hidden;
}
.select2-selection,
.select2-search__field {
    outline: 0;
}
.select2-search__field:hover {
    border: 1px solid #b9b9b9 !important;
    border-top-color: #a0a0a0 !important;
}
.select2-search__field:focus {
    border: 1px solid #4d90fe !important;
}
input {
    color: black;
}
.mastfoot {
    position: relative;
}
.select2 {
    width: 100% !important;
    max-width: 400px;
}
.select2-selection {
    height: 32px !important;
}
.select2-selection__rendered {
    line-height: 32px !important;
}
.select2-selection__arrow {
    height: 30px !important;
}
.select2-selection__rendered,
.select2-selection__placeholder,
.select2-results__option {
    color: #000;
    text-shadow: none;
}
.list {
    width: 100%;
    padding-left: 0;
    display: -webkit-inline-flex;
    display: -moz-inline-flex;
    display: -ms-inline-flex;
    display: -o-inline-flex;
    display: inline-flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    -ms-justify-content: flex-start;
    justify-content: flex-start;
}
.list {
    margin: 20px 0;
}
.list li {
    padding: 0 10px;
}
.list li * {
    word-break: break-all;
    word-wrap: break-word;
}
.list li a {
    text-decoration: none;
}
.list li p {
    color: gray;
}
.list li .item {
    padding: 5px 25px;
    margin: 10px 0;
    background: white;
    border-radius: 5px;
    color: black;
    text-shadow: none;
}
.list li .item .tags {
    line-height: 25px;
}
.form-inline {
    padding: 0 10px;
}
.sort.asc {
    text-decoration: overline;
}
.sort.desc {
    text-decoration: underline;
}
.ui-history-close {
    position: absolute;
    right: 14px;
    top: 15px;
    font-size: 16px;
    opacity: 0.5;
}
.ui-history-close:hover {
    opacity: 1;
}

.modal-title {
    text-align: left;
    color: black;
}