.gist {
    color: #333;
    font-size: 16px
}

.gist .markdown-body {
    overflow: hidden;
    font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    word-wrap: break-word
}

.gist .markdown-body>*:first-child {
    margin-top: 0 !important
}

.gist .markdown-body>*:last-child {
    margin-bottom: 0 !important
}

.gist .markdown-body .absent {
    color: #c00
}

.gist .markdown-body .anchor {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    display: block;
    padding-right: 6px;
    padding-left: 30px;
    margin-left: -30px
}

.gist .markdown-body .anchor:focus {
    outline: none
}

.gist .markdown-body h1,
.gist .markdown-body h2,
.gist .markdown-body h3,
.gist .markdown-body h4,
.gist .markdown-body h5,
.gist .markdown-body h6 {
    position: relative;
    margin-top: 1em;
    margin-bottom: 16px;
    font-weight: bold;
    line-height: 1.4
}

.gist .markdown-body h1 .octicon-link,
.gist .markdown-body h2 .octicon-link,
.gist .markdown-body h3 .octicon-link,
.gist .markdown-body h4 .octicon-link,
.gist .markdown-body h5 .octicon-link,
.gist .markdown-body h6 .octicon-link {
    display: none;
    color: #000;
    vertical-align: middle
}

.gist .markdown-body h1:hover .anchor,
.gist .markdown-body h2:hover .anchor,
.gist .markdown-body h3:hover .anchor,
.gist .markdown-body h4:hover .anchor,
.gist .markdown-body h5:hover .anchor,
.gist .markdown-body h6:hover .anchor {
    padding-left: 8px;
    margin-left: -30px;
    line-height: 1;
    text-decoration: none
}

.gist .markdown-body h1:hover .anchor .octicon-link,
.gist .markdown-body h2:hover .anchor .octicon-link,
.gist .markdown-body h3:hover .anchor .octicon-link,
.gist .markdown-body h4:hover .anchor .octicon-link,
.gist .markdown-body h5:hover .anchor .octicon-link,
.gist .markdown-body h6:hover .anchor .octicon-link {
    display: inline-block
}

.gist .markdown-body h1 tt,
.gist .markdown-body h1 code,
.gist .markdown-body h2 tt,
.gist .markdown-body h2 code,
.gist .markdown-body h3 tt,
.gist .markdown-body h3 code,
.gist .markdown-body h4 tt,
.gist .markdown-body h4 code,
.gist .markdown-body h5 tt,
.gist .markdown-body h5 code,
.gist .markdown-body h6 tt,
.gist .markdown-body h6 code {
    font-size: inherit
}

.gist .markdown-body h1 {
    padding-bottom: 0.3em;
    font-size: 2.25em;
    line-height: 1.2;
    border-bottom: 1px solid #eee
}

.gist .markdown-body h2 {
    padding-bottom: 0.3em;
    font-size: 1.75em;
    line-height: 1.225;
    border-bottom: 1px solid #eee
}

.gist .markdown-body h3 {
    font-size: 1.5em;
    line-height: 1.43
}

.gist .markdown-body h4 {
    font-size: 1.25em
}

.gist .markdown-body h5 {
    font-size: 1em
}

.gist .markdown-body h6 {
    font-size: 1em;
    color: #777
}

.gist .markdown-body p,
.gist .markdown-body blockquote,
.gist .markdown-body ul,
.gist .markdown-body ol,
.gist .markdown-body dl,
.gist .markdown-body table,
.gist .markdown-body pre {
    margin-top: 0;
    margin-bottom: 16px
}

.gist .markdown-body hr {
    height: 4px;
    padding: 0;
    margin: 16px 0;
    background-color: #e7e7e7;
    border: 0 none
}

.gist .markdown-body ul,
.gist .markdown-body ol {
    padding-left: 2em
}

.gist .markdown-body ul.no-list,
.gist .markdown-body ol.no-list {
    padding: 0;
    list-style-type: none
}

.gist .markdown-body ul ul,
.gist .markdown-body ul ol,
.gist .markdown-body ol ol,
.gist .markdown-body ol ul {
    margin-top: 0;
    margin-bottom: 0
}

.gist .markdown-body li>p {
    margin-top: 16px
}

.gist .markdown-body dl {
    padding: 0
}

.gist .markdown-body dl dt {
    padding: 0;
    margin-top: 16px;
    font-size: 1em;
    font-style: italic;
    font-weight: bold
}

.gist .markdown-body dl dd {
    padding: 0 16px;
    margin-bottom: 16px
}

.gist .markdown-body blockquote {
    padding: 0 15px;
    color: #777;
    border-left: 4px solid #ddd
}

.gist .markdown-body blockquote>:first-child {
    margin-top: 0
}

.gist .markdown-body blockquote>:last-child {
    margin-bottom: 0
}

.gist .markdown-body table {
    display: block;
    width: 100%;
    overflow: auto;
    word-break: normal;
    word-break: keep-all
}

.gist .markdown-body table th {
    font-weight: bold
}

.gist .markdown-body table th,
.gist .markdown-body table td {
    padding: 6px 13px;
    border: 1px solid #ddd
}

.gist .markdown-body table tr {
    background-color: #fff;
    border-top: 1px solid #ccc
}

.gist .markdown-body table tr:nth-child(2n) {
    background-color: #f8f8f8
}

.gist .markdown-body img {
    max-width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.gist .markdown-body span.frame {
    display: block;
    overflow: hidden
}

.gist .markdown-body span.frame>span {
    display: block;
    float: left;
    width: auto;
    padding: 7px;
    margin: 13px 0 0;
    overflow: hidden;
    border: 1px solid #ddd
}

.gist .markdown-body span.frame span img {
    display: block;
    float: left
}

.gist .markdown-body span.frame span span {
    display: block;
    padding: 5px 0 0;
    clear: both;
    color: #333
}

.gist .markdown-body span.align-center {
    display: block;
    overflow: hidden;
    clear: both
}

.gist .markdown-body span.align-center>span {
    display: block;
    margin: 13px auto 0;
    overflow: hidden;
    text-align: center
}

.gist .markdown-body span.align-center span img {
    margin: 0 auto;
    text-align: center
}

.gist .markdown-body span.align-right {
    display: block;
    overflow: hidden;
    clear: both
}

.gist .markdown-body span.align-right>span {
    display: block;
    margin: 13px 0 0;
    overflow: hidden;
    text-align: right
}

.gist .markdown-body span.align-right span img {
    margin: 0;
    text-align: right
}

.gist .markdown-body span.float-left {
    display: block;
    float: left;
    margin-right: 13px;
    overflow: hidden
}

.gist .markdown-body span.float-left span {
    margin: 13px 0 0
}

.gist .markdown-body span.float-right {
    display: block;
    float: right;
    margin-left: 13px;
    overflow: hidden
}

.gist .markdown-body span.float-right>span {
    display: block;
    margin: 13px auto 0;
    overflow: hidden;
    text-align: right
}

.gist .markdown-body code,
.gist .markdown-body tt {
    padding: 0;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    margin: 0;
    font-size: 85%;
    background-color: rgba(0, 0, 0, 0.04);
    border-radius: 3px
}

.gist .markdown-body code:before,
.gist .markdown-body code:after,
.gist .markdown-body tt:before,
.gist .markdown-body tt:after {
    letter-spacing: -0.2em;
    content: "\00a0"
}

.gist .markdown-body code br,
.gist .markdown-body tt br {
    display: none
}

.gist .markdown-body del code {
    text-decoration: inherit
}

.gist .markdown-body pre>code {
    padding: 0;
    margin: 0;
    font-size: 100%;
    word-break: normal;
    white-space: pre;
    background: transparent;
    border: 0
}

.gist .markdown-body .highlight {
    margin-bottom: 16px
}

.gist .markdown-body .highlight pre,
.gist .markdown-body pre {
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: #f7f7f7;
    border-radius: 3px
}

.gist .markdown-body .highlight pre {
    margin-bottom: 0;
    word-break: normal
}

.gist .markdown-body pre {
    word-wrap: normal
}

.gist .markdown-body pre code,
.gist .markdown-body pre tt {
    display: inline;
    max-width: initial;
    padding: 0;
    margin: 0;
    overflow: initial;
    line-height: inherit;
    word-wrap: normal;
    background-color: transparent;
    border: 0
}

.gist .markdown-body pre code:before,
.gist .markdown-body pre code:after,
.gist .markdown-body pre tt:before,
.gist .markdown-body pre tt:after {
    content: normal
}

.gist .markdown-body kbd {
    display: inline-block;
    padding: 3px 5px;
    font-size: 11px;
    line-height: 10px;
    color: #555;
    vertical-align: middle;
    background-color: #fcfcfc;
    border: solid 1px #ccc;
    border-bottom-color: #bbb;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 -1px 0 #bbb;
    box-shadow: inset 0 -1px 0 #bbb
}

.gist .highlight {
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 12px;
    font-weight: normal;
    line-height: 1.4;
    margin: 0;
    padding: 0;
    background: #fff;
    color: #333
}

.gist .pl-c {
    color: #969896
}

.gist .pl-c1,
.gist .pl-mdh,
.gist .pl-mm,
.gist .pl-mp,
.gist .pl-mr,
.gist .pl-s1 .pl-v,
.gist .pl-s3,
.gist .pl-sc,
.gist .pl-sv {
    color: #0086b3
}

.gist .pl-e,
.gist .pl-en {
    color: #795da3
}

.gist .pl-s1 .pl-s2,
.gist .pl-smi,
.gist .pl-smp,
.gist .pl-stj,
.gist .pl-vo,
.gist .pl-vpf {
    color: #333
}

.gist .pl-ent {
    color: #63a35c
}

.gist .pl-k,
.gist .pl-s,
.gist .pl-st {
    color: #a71d5d
}

.gist .pl-pds,
.gist .pl-s1,
.gist .pl-s1 .pl-pse .pl-s2,
.gist .pl-sr,
.gist .pl-sr .pl-cce,
.gist .pl-sr .pl-sra,
.gist .pl-sr .pl-sre,
.gist .pl-src {
    color: #df5000
}

.gist .pl-mo,
.gist .pl-v {
    color: #1d3e81
}

.gist .pl-id {
    color: #b52a1d
}

.gist .pl-ii {
    background-color: #b52a1d;
    color: #f8f8f8
}

.gist .pl-sr .pl-cce {
    color: #63a35c;
    font-weight: bold
}

.gist .pl-ml {
    color: #693a17
}

.gist .pl-mh,
.gist .pl-mh .pl-en,
.gist .pl-ms {
    color: #1d3e81;
    font-weight: bold
}

.gist .pl-mq {
    color: #008080
}

.gist .pl-mi {
    color: #333;
    font-style: italic
}

.gist .pl-mb {
    color: #333;
    font-weight: bold
}

.gist .pl-md,
.gist .pl-mdhf {
    background-color: #ffecec;
    color: #bd2c00
}

.gist .pl-mdht,
.gist .pl-mi1 {
    background-color: #eaffea;
    color: #55a532
}

.gist .pl-mdr {
    color: #795da3;
    font-weight: bold
}

.gist .render-viewer-error,
.gist .render-viewer-fatal,
.gist .octospinner {
    display: none
}

.gist .gist-render iframe {
    width: 100%
}

.gist pre,
.gist code {
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace !important;
    white-space: pre
}

.gist .gist-file {
    margin-bottom: 1em;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    border: 1px solid #ddd;
    border-bottom: 1px solid #ccc;
    border-radius: 3px
}

.gist .gist-file.gist-render {
    border: 0
}

.gist .gist-meta {
    padding: 10px;
    overflow: hidden;
    font: 12px Helvetica, arial, freesans, clean, sans-serif;
    color: #999;
    background-color: #f7f7f7
}

.gist .gist-meta a {
    font-weight: bold;
    color: #666;
    text-decoration: none
}

.gist .gist-data {
    overflow: auto;
    word-wrap: normal;
    background-color: #fff;
    border-bottom: 1px solid #ddd
}

.gist .file-data {
    font-size: 12px;
    line-height: 1.4
}

.gist .gist-file.scroll .gist-data {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 30px;
    left: 0;
    overflow: scroll
}

.gist .gist-file.scroll .gist-meta {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0
}

.gist .line-data {
    padding: .5em !important
}

.gist .line-pre {
    padding: 0 !important;
    margin: 0 !important;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace !important;
    font-size: 100% !important;
    line-height: inherit !important;
    background: transparent !important;
    border: 0 !important
}

.gist .gist-highlight {
    background: transparent !important
}

.gist .line-numbers {
    padding: .5em;
    color: #aaa;
    text-align: right;
    background-color: #fff;
    border-right: 1px solid #eee;
    line-height: 1.4
}

.gist .line-number {
    display: block;
    clear: right
}