@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), url('../fonts/hneu/Roboto-Regular.ttf') format('ttf');
}

@font-face {
  font-family: 'Roboto-Light';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto-Light'), url('../fonts/hneu/Roboto-Light.ttf') format('ttf');
}