html, body {
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    max-width: inherit;
    min-width: 200px;
    /*margin-right: 15px;*/
    padding-top: 51px;
    /*overflow: hidden;*/
}
.CodeMirror {
    font-family: "Source Code Pro", Consolas, monaco, "Microsoft JhengHei", Meiryo, "ＭＳ ゴシック", "MS Gothic", monospace;
    letter-spacing: 0.025em;
    line-height: 1.25;
    font-size: 18px;
    min-height: 100%;
    overflow-y: hidden !important;
    -webkit-overflow-scrolling: touch;
}
.CodeMirror-scroll {
    overflow-x: hidden !important;
    overflow-y: auto !important;
}
.CodeMirror-code {
    padding-bottom: 36px;
}
.CodeMirror-linenumber {
    opacity: 0.5;
    width: 29px;
}
.CodeMirror-matchingtag {
    background: rgba(255, 255, 255, .1);
    line-height: 1em;
}
.CodeMirror-foldmarker {
    color: #d0d0d0;
    text-shadow: none;
    font-family: Arial;
    line-height: .3;
    cursor: pointer;
    margin: 2px;
}
.row {
    margin-left: 0;
    margin-right: 0;
}
.ui-edit-area {
    /*padding-left: 15px;*/
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.ui-view-area {
    /*overflow-y: scroll;*/
    -webkit-overflow-scrolling: touch;
}
.ui-scrollable {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}
.ui-status * {
    font-size: 16px;
}
.nav-status .ui-status * {
    font-size: 14px;
}
.nav-mobile {
    position: inherit;
    margin-top: 8px;
    margin-bottom: 8px;
}
.nav-mobile .dropdown-menu {
    left: 40%;
    right: 6px;
    top: 42px;
}
.nav-status {
    float: right !important;
    padding: 7px 8px;
}
.ui-status {
    cursor: auto !important;
    min-width: 120px;
    background-color: transparent !important;
}
.ui-status span {
    cursor: pointer;
}
.ui-short-status {
    cursor: pointer;
    min-width: 40px;
}
.ui-short-status:hover {
    text-decoration: none;
}
.ui-user-item {
    /*na*/
}
.ui-user-name {
    margin-top: 2px;
}
.ui-user-icon {
    width: 20px;
    height: 20px;
    display: block;
    border-radius: 3px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-right: 5px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
.ui-user-status {
    margin-top: 5px;
}
.ui-user-status-online {
    color: rgb(92,184,92);
}
.ui-user-status-idle {
    color: rgb(240,173,78);
}
.ui-user-status-offline {
    color: rgb(119,119,119);
}
.list > li > a {
    overflow: hidden;
    text-overflow: ellipsis;
}
#short-online-user-list .list .name {
    max-width: 65%;
    overflow: hidden;
    text-overflow: ellipsis;
    float: left;
}
#online-user-list .list .name {
    max-width: 110px;
    overflow: hidden;
    text-overflow: ellipsis;
    float: left;
}
.navbar-right {
    margin-right: 0;
}
.navbar-nav > li > a {
    cursor: pointer;
}
.dropdown-menu > li > a {
    cursor: pointer;
}
.other-cursors {
    position:relative;
    z-index:3;
}
.other-cursor {
    width: 0px;
    position: absolute;
    border-right: none;
}
.cursortag {
    cursor: pointer;
    background: black;
    position: absolute;
    padding: 2px 7px 2px 8px;
    font-size: 12px;
    max-width: 150px;
    text-overflow: ellipsis;
    overflow: hidden;
    font-family: inherit;
    border-radius: .25em;
    white-space: nowrap;
}
.fixfixed .navbar-fixed-top {
    position: absolute !important;
}
div[contenteditable]:empty:not(:focus):before{
    content:attr(data-ph);
    color: gray;
}
.dropdown-menu.list {
    max-height: 80vh;
    overflow: auto;
}
.dropdown-menu.list::-webkit-scrollbar { 
    display: none; 
}
.dropdown-menu .emoji {
    margin-bottom: 0 !important;
}
.dropdown-menu.other-cursor {
    width: auto !important;
}
.CodeMirror-scrollbar-filler {
    background: inherit;
}
.unselectable {
    -moz-user-select: none; 
    -khtml-user-select: none; 
    -webkit-user-select: none; 
    -o-user-select: none;
    user-select: none;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.cm-trailing-space-a:before,
.cm-trailing-space-b:before,
.cm-trailing-space-new-line:before {
  font-weight: bold;
  color: hsl(30, 100%, 50%); /* a dark orange */
  position: absolute;
}

.cm-trailing-space-a:before,
.cm-trailing-space-b:before {
  content: '·';
}

.cm-trailing-space-new-line:before {
  content: '↵';

.status-bar {
    background: #1c1c1e;
    border-top: 1px solid #343434;
    color: #ccc;
    position: relative;
    display: block;
    box-sizing: border-box;
    font-size: 11px;
    line-height: 25px;
    height: 26px;
    overflow: hidden;
}

.status-bar .status-info {
    color: #ccc;
    left: 10px;
    position: absolute;
    white-space: nowrap;
    max-width: 65%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.status-bar .status-info div {
    display: inline;
}

.status-bar .status-file {
    color: #9a9a9a;
}

.status-bar .status-indicators {
    background: #1c1c1e;
    color: #ccc;
    position: absolute;
    right: 10px;
    text-align: right;
    white-space: nowrap;
    max-width: 30%;
    overflow: hidden;
    text-overflow: ellipsis;
}
}