//config
var domain = ''; // domain name
var urlpath = ''; // sub url path, like: www.example.com/<urlpath>
//settings
var debug = false;

var GOOGLE_API_KEY = '';
var GOOGLE_CLIENT_ID = '';

var DROPBOX_APP_KEY = '';

module.exports = {
    domain: domain,
    urlpath: urlpath,
    debug: debug,
    GOOGLE_API_KEY: GOOGLE_API_KEY,
    GOOGLE_CLIENT_ID: GOOGLE_CLIENT_ID,
    DROPBOX_APP_KEY: DROPBOX_APP_KEY
};
