<!-- change-note-alias-modal -->
<div class="modal fade" id="noteAliasModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <form role="form">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
              aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title"><i class="fa fa-pencil-square-o"></i>
            <%= __('Note alias') %>
          </h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <div class="alert alert-warning" role="alert">
              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
              <span>Notice: the previous note alias will not be redirected to the new one, please take your own risk to change this.</span>
            </div>
            <div class="alert alert-danger js-error-alert" style="display: none" role="alert">
              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
              <span class="js-error-message"></span>
            </div>
            <p>For example: hello-world</p>
            <input type="text" class="form-control" name="note-alias" placeholder="hello-world" value="<%= alias %>" required>
            <div class="help-block with-errors"></div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" style="margin-left: auto;">
            <%= __('Submit') %>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
